.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 150px;
  padding-bottom: 150px; */
  
  
  

}
@media (max-width:649px){

.popup-content {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  /* position: relative; */
  width: 100%;
  color: #333; /* Text color from PDF */
  height: 50%;
  overflow: scroll;
}

}
@media (min-width:650px) {
    .popup-content{
        display: flex;
        flex-direction: row;
        background: #fff;
  padding: 20px;
  border-radius: 10px;
  position: relative;
        width: 80%;
        min-height: 90%;
    }
}

.ul-list{
    list-style-type:none;
   
}
.icon{
    color: #ffa722;
}
.hr-line{
    color: #fdbe37;
    border-style: dashed;
}
.data{
    width: 40%;
    line-height: 15px;
}
@media (max-width:649px){
    .data{
    width: 100%;
    line-height: 15px;
}
}
.cards-btn{
    width: 100%;
    text-align: center;
    background-color: #FE0000;
    font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 36px;
/* text-align: left; */
color: white;
border: none;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ff5722; /* Accent color for close button */
}

.popup-content h2 {
  margin-bottom: 10px;
}

.popup-content p {
  margin-bottom: 10px;
}
