.header {
  background-image: url("https://res.cloudinary.com/dpetyh8cc/image/upload/v1719120168/mainBg_v8jccy.png");
  
  background-size: cover;
  min-width: 100%;
 
 padding-bottom: 10px;
}
@media (min-width:650px) {
    .header{
        background-image: url("https://res.cloudinary.com/dpetyh8cc/image/upload/v1719120168/mainBg_v8jccy.png");
        background-size: cover;
        min-width: 100%;
        height: 527px;
        

    }
}
.logo-div{
    background-color: #1c1c1c63;
    border-bottom: 1px solid #FF777766;
    min-width: 100%;
    /* padding:10px; */

    /* text-align: start;    
   
    height: 71px;
    left: -30px;
    
    border: 0px 0px 1px 0px;
    opacity: 0px; */
}

.logo {

    /* width: 116px; */
    height: 47.23px;


    margin: 2px;
    margin-left: 30px;
}


.para-button{
    /* border: 1px solid blue; */
    margin-left: 10px;
    /* top: 20px; */
    /* position: absolute;
   
    
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    top: 243px;
    left: 120px; */
    gap: 0px;
}
@media (min-width:650px) {
    .para-button{
        position: absolute;
        top: 243px;
        left: 120px;
        

    }
}
.para{

font-family: Roboto;
font-size: 20px;
font-weight: 600;
/* line-height: 56px; */
text-align: left;

gap: 0px;
opacity: 0px;
/* background: #FFFFFF; */
color: white;

}
@media (min-width:650px){
    .para{
        font-family: Roboto;
        font-size: 44px;
        font-weight: 600;
        line-height: 56px;
        text-align: left;
    }
}
.btn{
    
    width: 211px;
    height: 52px;
    color: #FE0000;
    font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 36px;


   
}